{% extends 'prof/base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}About question{% endblock title %}
{% block navbar_title %}{{ prof.username }}{% endblock navbar_title %}
{% block navitem_title %}Create new Question{% endblock navitem_title %}

{% block buttons %}
    <a href="{% url 'prof:view_all_ques' %}" class="btn btn-primary mx-1">View All Questions</a><br>
    <a href="{% url 'prof:index' %}" class="btn btn-light mx-2">Home</a>
{% endblock buttons %}

</br>
{% block body %}
    <div class="container-fluid my-2">
        <div style="width:100%; margin-left: 10%; margin-right: 10%;">
            <div class="container d-flex h-100 row justify-content-center col-80">
                <form style="width:100%; font-weight: bold;" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" value="Create">
                </form>
            </div>
        </div>
    </div>
{% endblock body %}